---
vrfs:
  default:  # default vrf for updates, services and were all remote sites are living
    interfaces:
      loopback:
        ipv6:
          addresses:
            - 2001:678:1080::4/128
        ipv4:
          addresses:
            - 10.48.0.4/32
      veth:
        - name: vthDefault
          peer: vthPubDef
          ipv6:
      wireguards: 
        - name: wgBEJBEGIA
          description: "WG Transit to Home"
          mtu: 1420
          wg:
            port: 51820
            keepalive: 25
            private_key: !vault |
              $ANSIBLE_VAULT;1.1;AES256
              39623532666362633065383533656135643739633130356432313065653361356664363437356434
              6233633565373032663537633234323033613237613936620a626631386666373735303861386537
              61643263663036653539373633303061383033666438666235653130623536303237366366346366
              6233356662653162350a643639336434356166343764356535363965633631366166643839373661
              34653439643164336132383065633963326639393935393661626131313137333765643439616662
              6238646536616239366438623631656337373461636633666336
            public_key: kfPdWYI+5MKL5ipGeBFjbiWIBRNLPZR7npM8Rv0gcyo=
            peers:
              - name: BEJBEGIART01
                public_key: yPCXl5esPr8AnhjjfaQvlHTKd2seHzkIF1Ga06N8MCs=
          ipv6:
            addresses:
              - 2001:678:1080:103::1:1/112
              - fe80:3:34::1:1/64
        - name: wgBEOKPDCO
          description: "WG Transit to DCO"
          mtu: 1420
          wg:
            port: 51822
            keepalive: 25
            private_key: !vault |
              $ANSIBLE_VAULT;1.1;AES256
              39623532666362633065383533656135643739633130356432313065653361356664363437356434
              6233633565373032663537633234323033613237613936620a626631386666373735303861386537
              61643263663036653539373633303061383033666438666235653130623536303237366366346366
              6233356662653162350a643639336434356166343764356535363965633631366166643839373661
              34653439643164336132383065633963326639393935393661626131313137333765643439616662
              6238646536616239366438623631656337373461636633666336
            public_key: kfPdWYI+5MKL5ipGeBFjbiWIBRNLPZR7npM8Rv0gcyo=
            peers:
              - name: BEOKPDCORT01
                public_key: /If1/C6nzTbkCGvGbgEGnuQNAoQUIYiP0Vk3jx54M2s=
          ipv6:
            addresses:
              - 2001:678:1080:103::3:1/112
              - fe80:34::3:1/64
        # - name: wgRoadwarrior
        #   description: "WG Interface Road Warrior clients"
        #   mtu: 1420
        #   wg:
        #     port: 2034
        #     keepalive: 25
        #     private_key: !vault |
        #       $ANSIBLE_VAULT;1.1;AES256
        #       36663332356236626537383561346534373866646232383537623465653861353965363230663437
        #       6264396533653661343330643036646361303037356236610a643662393234363264633837623132
        #       33393032623737363239663262373739633761336432376239393232386362396530373764316337
        #       3735383364646563330a633635346661626133636233366231306231616533303362336537663935
        #       36626566303832306338613532373161663463343234393561306330646263663562333530326266
        #       6635633962393761303364623431303839623465363131383234
        #     public_key: 6PvkKYx6mAg2nkDihioEY8Kz8QNwdoejoWc2cqE5pCs=
        #     peers:
        #       - name: unitix-pc05-macbook
        #         public_key: jqn7VCUQebPQD34Qo1+aJoMV8AcE53QNI69qY1idJ1A=
        #         private_key: !vault |
        #           $ANSIBLE_VAULT;1.1;AES256
        #           65373035396634623730643064626439626364626133646161613632363930363934303732353061
        #           6534366566663833623163666661643034643333343532630a643963653462663533656565633239
        #           37633737363533633239326366653865336564303530373338303664306636393637616431373937
        #           6566316539636332330a636163656531633739383431306333613063363839623334653137323935
        #           66303531393738346432356634363436623162633266353739396538353833396339666638633434
        #           6361306136666330626534323931633463373762363565313636
        #         allowed_ips: "10.10.35.2/32, 2001:678:1080:1033::2/128"
        #       - name: Unitix_Stream_PC
        #         public_key: eJ5/gLv4/jf5eRHcvl9aLXkvhE4rOdDVIAbb9alwtRw=
        #         private_key: !vault |
        #           $ANSIBLE_VAULT;1.1;AES256
        #           36326165393065313163626631383033346162663834373533656430303863376538303537353333
        #           6364613931623734336463643732633535363565643166310a323632303739646131363261653161
        #           37323838376563633932653637393464663830376535353766653537356339373534303935346562
        #           3366626534306166390a343766373435316432636637623161656230323530363739356463643235
        #           62376137386335383762623433353639346537633164353336326261303265346239393338303664
        #           6566313163333865353830316563613030393331653733366265
        #         allowed_ips: "10.10.35.3/32, 2001:678:1080:1033::3/128"
        #       - name: Fraise_Pixel
        #         public_key: nqbVgdCy0/XNbtq0Du4Qeu9Pse60KN7oMSgFGXg+2kk=
        #         private_key: !vault |
        #           $ANSIBLE_VAULT;1.1;AES256
        #           64373964643431333130346330306561663263616462663131626636303335653639396638343562
        #           6662653961643465396332326236653763393162353134350a336562616539393838343066323361
        #           62323161386363313632313432373631636238383632616561393630626135626264366231653764
        #           3538363764316365300a383434626563623632333532626165336634343638613535643138646334
        #           66613934613664666230643761356332616564346632633031323164343266323566383533623461
        #           6337663062656135613833613066376335333262616361346265
        #         allowed_ips: "10.10.35.4/32, 2001:678:1080:1033::4/128"
        #       - name: Amelle_SamsungA54
        #         public_key: mTgVmjhdR6+LXxLLtxEx+rH/zJWSs8K18I5Fywm06TY=
        #         private_key: !vault |
        #           $ANSIBLE_VAULT;1.1;AES256
        #           33323661333164316664303764333962373532626363366537653534653339356364656338383664
        #           3033376132356362613736386534636366303062303738330a636536386131363536333261386334
        #           33623838646533323732323739303135623966643731666533366262313235376432386435636664
        #           3164373933366163650a396436303564363139643563343333626564343238626331623966386563
        #           30396164336666656534373835653164353266633231646336323936646232643034343132353233
        #           3864343361383435663839613136373537393465333662383832
        #         allowed_ips: "10.10.35.5/32, 2001:678:1080:1033::5/128"
        #       - name: Fraise_Ipad
        #         public_key: fHeNy8erX/oFjcUk5l7lPJJxcjU0CujBYbizRwtpzAE=
        #         private_key: !vault |
        #           $ANSIBLE_VAULT;1.1;AES256
        #           38653365353037626531376266663361343538333139656439383232313061663464313834333835
        #           3334323237306665636462306563383465356662613563660a633036396264313764363763313265
        #           31653733623966633639346663376633386335363733363262343731383839623131356239643432
        #           3964316330396563630a643139613563646266336563656436343339633837353435363432313934
        #           39313137653931316163623365303339343264353239336237636264643565346365633166323736
        #           6562643936363264366339666432326666616236346434323030
        #         allowed_ips: "10.10.35.6/32, 2001:678:1080:1033::6/128"
        #       - name: Fraise_Steamdeck
        #         public_key: 6Nzp0AfxyE79Xrsbkzbt/mm931WBdSoIGBRMdELFXRg=
        #         private_key: !vault |
        #           $ANSIBLE_VAULT;1.1;AES256
        #           63323562653139393463373530613532396337383961633863636431636335393934646331353037
        #           3566616636313865366461356534396339336462363437620a636337666366383738373339653338
        #           37396562356665613730303337326161616162303739393133326637616233636164326633333464
        #           3433616430636139380a653961353830666535616539313733373837653737396262323062323634
        #           63323036366432363963666233643335323939653938323934363265363334356238303031646139
        #           3333373062353535623537616166386230313331623236353339
        #         allowed_ips: "10.10.35.7/32, 2001:678:1080:1033::7/128"
        #   ipv6:
        #     addresses:
        #       - 2001:678:1080:1033::1/64
        #   ipv4:
        #     addresses:
        #       - 10.10.35.1/24
    routing:
      bgp:
        as: 65010
        router_id: 10.48.0.4
        redistribute:
          - connected
          - kernel
        aggregates:
          v4:
            - address: 10.48.34.0/24
          v6:
            - address: 2001:678:1080:2300::/56
        networks:
          v6:
            - 2001:678:1080::/48
        neighbor_groups:
          - peer: veth-public
            soft_reconfiguration_inbound: true
            activate:
              - v4
              - v6
            timers:
              keepalive: 3
              hold: 9
            route_maps:
              - direction: in
                name: rm-veth_from_public
              - direction: out
                name: rm-to_veth
          - peer: remotesites
            soft_reconfiguration_inbound: true
            local_as: 211184
            timers:
              keepalive: 20
              hold: 60
            route_maps:
              - direction: in
                name: rm-REMOTE_SITES-in
              - direction: out
                name: rm-REMOTE_SITES-out
          - peer: beokpdco
            soft_reconfiguration_inbound: true
            timers:
              keepalive: 20
              hold: 60
            route_maps:
              - direction: in
                name: rm-REMOTE_SITES-in
              - direction: out
                name: rm-DC-out
        neighbors:
          - neighbor_group: veth-public
            peer: vthDefault
            unnumbered: true
            as: 65001
            description: "veth - Public"
          - neighbor_group: beokpdco
            peer: 2001:678:1080:103::3:2
            activate:
              - v4
              - v6
            as: 65502
            description: "BEOKPDCO"
          - neighbor_group: remotesites
            enabled: false
            peer: 2001:678:1080:103::1:2
            activate:
              - v4
              - v6
            as: 65501
            description: "BEJBEGIA"
            route_maps:
              - direction: in
                name: rm-REMOTE_SITES-in
              - direction: out
                name: rm-BEJBEGIA-out
  public:  # routing decisions are made here
    interfaces:
      loopback:
        ipv6:
          addresses:
            - 2001:678:1080:2300::1/128
        ipv4:
          addresses:
            - 10.48.34.1/32
      veth:
        - name: vthPubDef
          peer: vthDefault
          ipv6:
        - name: vthPubTransit
          peer: vthTransit
          ipv6:
    routing:
      bgp:
        as: 65001
        router_id: 10.48.34.1
        redistribute:
          - connected
        neighbor_groups:
          - peer: veth-default
            soft_reconfiguration_inbound: true
            activate:
              - v4
              - v6
            timers:
              keepalive: 3
              hold: 9
            route_maps:
              - direction: in
                name: rm-to_veth
              - direction: out
                name: rm-veth_from_public
          - peer: veth-peering
            soft_reconfiguration_inbound: true
            activate:
              - v4
              - v6
            timers:
              keepalive: 3
              hold: 9
            route_maps:
              - direction: in
                name: rm-veth_from_peering
              - direction: out
                name: rm-to_veth
        neighbors:
          - neighbor_group: veth-default
            peer: vthPubDef
            as: 65010
            unnumbered: true
            description: "VETH - Default VRF"
          - neighbor_group: veth-peering
            peer: vthPubTransit
            as: 65002
            unnumbered: true
            description: "VETH - TRANSIT VRF"
  transit:  # peering vrf
    interfaces:
      loopback:
        ipv6:
          addresses:
            - 2001:678:1080:2300::2/128
        ipv4:
          addresses:
            - 10.48.34.2/32
      physicals:
        - name: "ens18"
          description: "TRNS - Hye"
          ipv6:
            gateway: 2a0f:6280:1f::1  # creates ::/0 - to redistribute downstream
            addresses:
              - 2a0f:6280:1f:31::1/64
          ipv4:
            gateway: 199.47.240.1  # creates 0.0.0.0/0
            addresses:
              - 199.47.240.182/24
      veth:
        - name: vthTransit
          peer: vthPubTransit
          ipv6:
    routing:
      static:
        - destination: 192.0.0.1/32
          type: blackhole
      bgp:
        as: 211184
        router_id: 199.47.240.182
        redistribute:
          - connected
          - kernel
        neighbor_groups:
          - peer: veth-public
            soft_reconfiguration_inbound: true
            local_as: 65002
            activate:
              - v4
              - v6
            timers:
              keepalive: 3
              hold: 9
            route_maps:
              - direction: in
                name: rm-to_veth
              - direction: out
                name: rm-veth_from_peering
          - peer: transit
            soft_reconfiguration_inbound: true
            local_role: customer
            activate:
              - v6
            timers:
              keepalive: 20
              hold: 60
            route_maps:
              - direction: in
                name: rm-DEFAULT_ONLY_PUBLIC
              - direction: out
                name: rm-AS211184-exact-prepend
        neighbors:
          - neighbor_group: veth-public
            peer: vthTransit
            as: 65001
            unnumbered: true
            description: "VETH - Public VRF"
          - neighbor_group: transit
            multihop: 2
            source: 2a0f:6280:1f:31::1
            peer: 2a0f:6280:1f::10
            as: 47272
            description: "TRNS - Hye"

prefix_lists_host: 
  - name: pl-LO_VETH
    lists:
      - prefix: 10.48.0.4/32
      - prefix: 10.48.34.0/30
        ge: 32
      - prefix: 2001:678:1080:2300::/64
        ge: 128

route_filtering:
  prefix_lists: "{{ prefix_lists_all + prefix_lists_host }}"
  route_maps:
    - name: rm-DEFAULT_ONLY_PUBLIC
      maps:
        - match:
            v4_prefix_list: pl-default-public
        - match:
            v6_prefix_list: pl-default-public
    - name: rm-AS211184-exact
      maps:
        - match:
            v6_prefix_list: pl-AS211184-exact
    - name: rm-AS211184-exact-prepend
      maps:
        - match:
            v6_prefix_list: pl-AS211184-exact
          action:
            set:
              prepend:
                - 211184
                - 211184
    - name: rm-REMOTE_SITES-in
      maps:
        - match:
            v6_prefix_list: pl-AS211184
        - match:
            v4_prefix_list: pl-RFC1918
    - name: rm-REMOTE_SITES-out
      maps:
        - match:
            v6_prefix_list: pl-AS211184-remotesites
        - match:
            v4_prefix_list: pl-MGMT
        - match:
            v4_prefix_list: pl-MONITORING
        - match:
            v4_prefix_list: pl-NETWORKING
    - name: rm-DC-out
      maps:
        - match:
            v4_prefix_list: pl-RFC1918
        - match:
            v6_prefix_list: pl-AS211184
        - match:
            v6_prefix_list: pl-default
    - name: rm-BEJBEGIA-out
      maps:
        # - match:
        #     v4_prefix_list: pl-GBTEFHYE
        - match:
            v6_prefix_list: pl-AS211184-remotesites
        - match:
            v6_prefix_list: pl-default
    - name: rm-veth_from_peering
      maps:
        - match:
            v6_prefix_list: pl-LO_VETH
        - match:
            v6_prefix_list: pl-default-public
        - match:
            v6_prefix_list: pl-default
        - match:
            v4_prefix_list: pl-LO_VETH
        - match:
            v4_prefix_list: pl-default
    - name: rm-veth_from_public
      maps:
        - match:
            v6_prefix_list: pl-LO_VETH
        - match:
            v6_prefix_list: pl-default
        - match:
            v4_prefix_list: pl-LO_VETH
        - match:
            v4_prefix_list: pl-default
    - name: rm-to_veth
      maps:
        - match:
            v4_prefix_list: pl-RFC1918
        - match:
            v6_prefix_list: pl-AS211184
    - name: rm-all
      maps:
        - match:
            v6_prefix_list: pl-default
          policy: permit
        - match:
            v4_prefix_list: pl-default
          policy: permit
    - name: rm-deny
      maps:
        - policy: deny