[Interface]
Address = {{ item.allowed_ips }}
PrivateKey = {{ item.private_key }}
DNS = {{ dns_servers.adguard.dco.ipv6 }},{{ dns_servers.adguard.home.ipv6 }},{{ dns_servers.adguard.home.ip }},{{ dns_servers.adguard.dco.ip }}

[Peer]
# Name = Unitix - BEOKPDCO
PublicKey = 6PvkKYx6mAg2nkDihioEY8Kz8QNwdoejoWc2cqE5pCs= 
AllowedIPs = 0.0.0.0/0, ::/0
Endpoint = roadwarrior.unitix.be:2034
PersistentKeepalive = 25
