[Interface]
Address = {{ item.allowed_ips }}
PrivateKey = {{ item.private_key }}
DNS = 2a12:4946:4002:1002::124, 2a12:4946:4000:1002::124, 10.10.48.124, 172.16.48.124

[Peer]
# Name = Unitix - BEOKPDCO
PublicKey = 6PvkKYx6mAg2nkDihioEY8Kz8QNwdoejoWc2cqE5pCs= 
AllowedIPs = 0.0.0.0/0, ::/0
Endpoint = roadwarrior.unitix.be:2034
PersistentKeepalive = 25
