{%- set type = nat_item.type|default('ip') -%}
{%- if nat_item.source is defined -%}
{%-   if nat_item.source.set is defined -%}{{ type }} saddr {{ "!= " if nat_item.source.negate|default(false) else "" }}@{{ nat_item.source.set }} {%     endif-%}
{%-   if nat_item.source.ip is defined -%}{{ type }} saddr {{ "!= " if nat_item.source.negate|default(false) else "" }}{{ nat_item.source.ip }} {%     endif-%}
{%-   if nat_item.source.interface is defined -%}iifname {{ nat_item.source.interface }} {%     endif-%}
{%- endif-%}
{%- if nat_item.destination is defined -%}
{%-   if nat_item.destination.set is defined -%}{{ type }} daddr {{ "!= " if nat_item.destination.negate|default(false) else "" }}@{{ nat_item.destination.set }} {%     endif-%}
{%-   if nat_item.destination.ip is defined -%}{{ type }} daddr {{ "!= " if nat_item.destination.negate|default(false) else "" }}{{ nat_item.destination.ip }} {%     endif-%}
{%-   if nat_item.destination.interface is defined -%}oifname {{ nat_item.destination.interface }} {%     endif-%}
{%-   if nat_item.destination.protocol is defined -%}{{ nat_item.destination.protocol }} {%     endif-%}
{%-   if nat_item.destination.port is defined -%}dport {{ nat_item.destination.port }} {%     endif-%}
{%- endif-%}
{%- if nat_item.counter is defined and nat_item.counter -%}counter {%   endif -%}
{{ nat_item.statement|default('masquarade') }}
{%- if nat_item.comment is defined %} comment "{{ nat_item.comment }}" 
{% endif -%}