{% if route_filtering is defined %}
! PREFIX LISTS
{%  for pl in route_filtering.prefix_lists|default() %}
!!!!! {{ pl.name }}
{%    for entry in pl.lists %}
ip prefix-list {{ pl.name }} {{ entry.policy|default('permit') }} {{ entry.prefix }}
{%- if entry.le is defined %} le {{ entry.le }}{% endif %}
{%- if entry.ge is defined %} ge {{ entry.ge }}{% endif %}

{%    endfor %}
{%  endfor %}
! COMMUNITIES
{%  for com in route_filtering.communities|default() %}
!!!!! {{ com.name }}
{%    for com_item in com.content %}
bgp community-list {{ com.type|default('standard') }} {{ com.name }} {{ com_item.policy|default('permit') }} {{ com_item.community }}
{%    endfor %}
{%  endfor %}
!
! ROUTE MAPS
{%  for rm in route_filtering.route_maps|default() %}
!!!!! {{ rm.name }}
{%    for entry in rm.maps %}
route-map {{ rm.name }} {{ entry.policy|default('permit') }} {{ (loop.index * 10) }}
{%      if entry.match.v4_prefix_list is defined %}
 match ip address prefix-list {{ entry.match.v4_prefix_list }}
{%      endif %}
{%      if entry.match.v6_prefix_list is defined %}
 match ipv6 address prefix-list {{ entry.match.v6_prefix_list }}
{%      endif %}
{%      if entry.match.community is defined %}
 match community {{ entry.match.community }}
{%      endif %}
{%      if entry.action is defined %}
{%          if entry.action.set is defined %}
{%              if entry.action.set.next_hop is defined %}
 set ip next-hop {{ entry.action.set.next_hop }}
{%              endif %}
{%          endif%}
{%          if entry.action.on_match is defined %}
 on-match {{ entry.action.on_match }}
{%          endif%}
{%      endif %}
{%    endfor %}
{%  endfor %}
{% endif %}