frr defaults traditional

log syslog informational
debug bgp neighbor-events
debug bgp updates

hostname {{ inventory_hostname }}
domainname {{ domain }}
service integrated-vtysh-config
!
{% for vrf_key, VRF in vrfs.items() %}
!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!! VRF: {{ vrf_key }}
!!!!!!!!!!!!!!!!!!!!!!!!!!!
{% include '01-static.j2' %}
{% include '02-bgp.j2' %}
{% endfor %}
!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!! ROUTE FILTERING
!!!!!!!!!!!!!!!!!!!!!!!!!!!
{% include '04-route_filtering.j2' %}
!
line vty
!
