{%  if VRF.interfaces.vlans is defined %}
{%    for intf in VRF.interfaces.vlans %}
{%      include 'generic.j2' %}
    vlan-raw-device {{ intf.interface | default('bridge') }}
    vlan-id {{ intf.id }}
{%    endfor %}

{%  endif %}
