{% for vrf_key, VRF in vrfs.items() %}
##############################
#### VRF: {{ vrf_key }} #####
##############################

{% include '01-vrfs.j2' %}
{% include '02-bridges.j2' %}
{% include '03-physicals.j2' %}
{% include '04-vlans.j2' %}
{% include '05-wireguard.j2' %}
{% endfor %}
