[Interface]
ListenPort = {{ item.wg.port }}
PrivateKey = {{ item.wg.private_key }}
FwMark = 0x1001

{% for wg_peer in item.wg.peers %}
[Peer]
# Name = {{ wg_peer.name }}
PublicKey = {{ wg_peer.public_key }}
AllowedIPs = {{ wg_peer.allowed_ips | default("0.0.0.0/0, ::/0") }}
PersistentKeepalive = {{ item.wg.keepalive }}

{% endfor %}
