{% if bgp_item.neighbor_group is defined %}
 neighbor {{ bgp_item.peer }} peer-group {{ bgp_item.neighbor_group }}
{% endif %}
{% if bgp_item.description is defined %}
 neighbor {{ bgp_item.peer }} description {{ bgp_item.description }}
{% endif %}
{% if bgp_item.disabled|default(false) %}
 neighbor {{ bgp_item.peer }} shutdown
{% endif %}
{% if bgp_item.as is defined %}
 neighbor {{ bgp_item.peer }} remote-as {{ bgp_item.as }} 
{% endif %}
{% if bgp_item.local_as is defined %}
 neighbor {{ bgp_item.peer }} local-as {{ bgp_item.local_as }} replace-as
{% endif %}
{% if bgp_item.timers is defined %}
 neighbor {{ bgp_item.peer }} timers {{ bgp_item.timers.keepalive }} {{ bgp_item.timers.hold }}
{% endif %}
{% if bgp_item.multihop|default(false) %}
 neighbor {{ bgp_item.peer }} ebgp-multihop
{% endif %}
{% if bgp_item.passive|default(false) %}
 neighbor {{ bgp_item.peer }} passive
{% endif %}
{% if bgp_item.interface is defined %}
 neighbor {{ bgp_item.peer }} interface {{ bgp_item.interface }}
{% endif %}
{% if bgp_item.local_role is defined %}
 neighbor {{ bgp_item.peer }} local-role {{ bgp_item.local_role}}
{%   if bgp_item.local_role is defined and bgp_item.local_role == "rs-client" %}
 no neighbor {{ bgp_item.peer }} enforce-first-as
{%   endif %}
{% endif %}
