{% include 'bgp/address_family.j2' %}
{% for aggregate in bgp_item.aggregates.v4|default() %}
  aggregate-address {{ aggregate }} summary-only
{% endfor %}
{% if bgp_item.activate is defined and 'v4' in bgp_item.activate %}
  neighbor {{ bgp_item.peer }} activate
{% endif %}