---
- name: FRR - Add repository
  ansible.builtin.deb822_repository:
    name: frr
    types: deb
    uris: https://deb.frrouting.org/frr
    suites: "{{ ansible_distribution_release }}"
    components: "{{ frr_version|default(common_frr_version) }}"
    architectures: amd64
    signed_by: https://deb.frrouting.org/frr/keys.gpg
- name: FRR - Install
  ansible.builtin.apt:
    update_cache: true
    name:
      - frr
      - frr-pythontools
    state: present
